@tailwind base;
@tailwind components;
@tailwind utilities;


  /* ===== Scrollbar CSS ===== */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-button {
    width: 2px;
    height: 2px;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-950;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-600;
  }
  ::-webkit-scrollbar-thumb:active {
    @apply bg-gray-700;
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track:hover {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-track:active {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }